.column{
  float : left;
  width : 32.87%;
  height : 350px;
  border-left-style : dotted;
 }

#weather{
  border-left-style : none;
}

.row{
  height : 350px;
  border-style : solid;
}

h1{
  font-family: 'Rochester', cursive;
  font-weight: bold;
  font-size: 50px;
  color : #0000cc;
}

.weatherwidget-io {
  height : 350px;
}

.travelWidget {
  padding-top: 25px;
}